.titulo{
    font-size: large;
    color:mediumaquamarine;
    text-align: center;

}


.body{

    font-size:medium;
    color: mediumaquamarine;
    text-align: center;

}

.background-color{
    background-color: black;

}

