body{
    background-color: black;
    text-align: center;
    font-display: none ;
    color: goldenrod
}
h1{
    background-color: black;
    initial-letter-align: center;
    font:message-box; 
    color: aqua;
}
